{
  "include": [
    "**/@(bin|src)/**/*.[jt]s?(x)"
  ],
  "exclude": [
    "**/?(*.)+(spec|test).[jt]s?(x)"
  ],
  "coverageExclude": [
    "**/fixtures/**/*.[jt]s?(x)"
  ],
  "coverageReporters": [
    "json",
    "text",
    "lcov",
    "clover"
  ]
}
