# Coverage directory used by tools like istanbul
coverage

# Nyc test coverage
.nyc_output

# Dependency directories
node_modules

# Cache files
.cache
cache

# Fixtures
*-global
e2e/feasibility-check/fixtures/electron-webpack__2.x/src/renderer/index.js
packages/cli/src/transpile/fixtures/.babelrc
packages/cli/src/transpile/fixtures/src/changing.js
packages/cli/src/transpile/fixtures/src/throw.js

# Generated outputs
lib
es
dist
out
build
.nuxt
.next
.temp
storybook-static
*.tgz
