{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^\\."],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
